<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="famiapp">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <meta-data
        android:name="com.google.android.gms.vision.DEPENDENCIES"
        android:value="barcode" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hands"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/hands"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="it.emgargano.famiapp.CentroAccoglienza"
            android:parentActivityName="it.emgargano.famiapp.MedicalRecordsActivity">
        </activity>
        <activity
            android:name="it.emgargano.famiapp.SplashScreeen"
            android:theme="@style/AppTheme.NoActionbar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="it.emgargano.famiapp.PopUpQrcodeActivity"
            android:theme="@style/Theme.Dialog" />
        <activity
            android:name="it.emgargano.famiapp.PathologyActivity"
            android:label="@string/pathologyDetails" />

        <activity android:name="it.emgargano.famiapp.ReadMedicalRecordsActivity" />

        <activity
            android:name="it.emgargano.famiapp.ChatActivity"
            android:label="@string/chat" />
        <activity android:name="it.emgargano.famiapp.ReadRatingsActivity"
            android:label="@string/readRatings"/>
        <activity
            android:name="it.emgargano.famiapp.AddFoodActivity"
            android:label="@string/modifyFood" />
        <activity
            android:name="it.emgargano.famiapp.ScanActivity"
            android:theme="@style/AppTheme.NoActionbar"/>
        <activity
            android:name="it.emgargano.famiapp.AdminActivity"
            android:label="@string/acceptance"/>
        <activity
            android:name="it.emgargano.famiapp.AppDetailsActivity"
            android:theme="@style/AppTheme.NoActionbar"/>
        <activity
            android:name="it.emgargano.famiapp.RetrieveBasicNecessitiesActivity" />
        <activity
            android:name="it.emgargano.famiapp.RatingActivity"
            android:label="@string/rating" />
        <activity
            android:name="it.emgargano.famiapp.PatientDetailActivity"
            android:parentActivityName="it.emgargano.famiapp.PatientListActivity"/>
        <activity
            android:name="it.emgargano.famiapp.KitOpeningActivity"
            android:label="@string/kitOpening" />
        <activity
            android:name="it.emgargano.famiapp.PatientListActivity"
            android:label="@string/patientList"
            android:theme="@style/AppTheme.NoActionbar"/>
        <activity
            android:name="it.emgargano.famiapp.AddPathologyActivity"
            android:label="@string/addPathology" />

        <activity
            android:name="it.emgargano.famiapp.MedicalRecordsActivity"
            android:label="@string/medicalRecords"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name="it.emgargano.famiapp.PersonalDataActivity"
            android:label="@string/personalData" />
        <activity
            android:name="it.emgargano.famiapp.VideoActivity"
            android:label="@string/video" />
        <activity
            android:name="it.emgargano.famiapp.AcceptanceActivity" />
        <activity
            android:name="it.emgargano.famiapp.CityInfoActivity" />
        <activity
            android:name="it.emgargano.famiapp.BylawActivity"
            android:label="@string/bylaw" />
        <activity
            android:name="it.emgargano.famiapp.UsefulNumbersActivity"
            android:label="@string/usefulNumbers" />
        <activity
            android:name="it.emgargano.famiapp.QuestionnairesActivity"
            android:label="@string/questionnaires" />
        <activity
            android:name="it.emgargano.famiapp.LoginActivity"
            android:theme="@style/AppTheme.NoActionbar" />
        <activity
            android:name="it.emgargano.famiapp.AddUserActivity"
            android:label="@string/addUser"
            android:parentActivityName="it.emgargano.famiapp.AdminActivity"/>
    </application>

</manifest>